@use "../media" as *;

.about {
    padding: 120px 0 278px;

    @include laptop {
        padding: 100px 0 255px;
    }

    @include tablet {
        padding: 100px 0 181px;
    }

    @include mobile {
        padding: 80px 0 122px;
    }

    &__title {
        font-weight: 700;
        font-size: 52px;
        line-height: 1.3;
        text-align: center;
        margin-bottom: 32px;

        @include laptop {
            font-size: 44px;
            margin-bottom: 18px;
        }
    
        @include mobile {
            font-size: 30px;
            margin-bottom: 16px;
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @include tablet {
            flex-direction: column;
        }

        // Height if the column
        &::before {
            content: "";
            display: block;
            transform: translateY(-18px);
            flex-basis: 50%;
            height: 496px;
            background-image: url("/img/cat.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;

            @include laptop {
                transform: translateY(-14px);
                height: 319px;
            }
        
            @include tablet {
                transform: translateY(-0);
                flex-basis: 319px;
                height: auto;
                width: 408px;
                max-width: 100%;
            }
        
            @include mobile {
                flex-basis: 191px;
                width: 256px;
            }
        }
    }

    &__content {
        padding: 10px 24px;
        flex-basis: 50%;

        @include tablet {
            padding: 10px 0;
        }
    }

    &__text {
        margin-bottom: 16px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}