@use "../variables" as *;
@use "../media" as *;

.advantages {
    position: relative;
    color: $light;

    &__bg {
        border-radius: 300px 300px 0 0;
        background-color: $carrot;
        background-image: url("/img/pattern.svg");
        background-position: center;
        background-repeat: repeat;

        padding: 100px 0;

        @include laptop {
            padding: 80px 0;
            border-radius: 200px 200px 0 0;
        }

        @include tablet {
            padding: 80px 0;
            border-radius: 120px 120px 0 0;
        }

        @include mobile {
            padding: 80px 0;
            border-radius: 80px 80px 0 0;
        }
    }

    &__title {
        font-size: 52px;
        line-height: 1.3;
        text-align: center;
        margin-bottom: 50px;

        @include laptop {
            font-size: 44px;
            margin-bottom: 32px;
        }

        @include mobile {
            max-width: 300px;
            margin: 0 auto;
            font-size: 30px;
            margin-bottom: 24px;
        }
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;

        @include laptop {
            gap: 20px;
        }

        @include tablet {
            grid-template-columns: 1fr;
            gap: 50px;
        }

        @include mobile {
            gap: 32px;
        }
    }

    &__item {
        padding-top: 268px;
        background-size: 256px;
        background-position: top;
        background-repeat: no-repeat;

        @include laptop {
            padding-top: 172px;
            background-size: 160px;
        }

        @include mobile {
            padding-top: 86px;
            background-size: 80px;
        }

        &_assortment {
            background-image: url("/img/assortment.png");
        }

        &_quality {
            background-image: url("/img/quality.png");
        }

        &_personal {
            background-image: url("/img/personal.png");
        }
    }

    &__subtitle {
        // to make blocks narrowed
        width: min-content;
        margin: 0 auto 12px;

        font-size: 28px;
        text-align: center;

        @include laptop {
            font-size: 24px;
        }

        @include mobile {
            font-size: 20px;
            margin-bottom: 4px;
        }
    }

    &__text {
        text-align: center;
    }

    &__count-box {
        position: absolute;
        top: -115px;
        left: 0;
        width: 306px;
        height: 306px;

        background-image: url("/img/star-green.svg");
        background-size: contain;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include bigscreen {
            left: calc(50% - 840px);
            transform: translateX(-50%);
        }

        @include laptop {
            top: -102px;
            width: 257px;
            height: 257px;
        }

        @include tablet {
            top: -102px;
            width: 201px;
            height: 201px;
        }

        @include mobile {
            top: -73px;
            width: 140px;
            height: 140px;
        }
    }

    &__count {
        font-weight: 700;
        font-size: 52px;
        text-align: center;

        @include laptop {
            font-size: 44px;
        }

        @include tablet {
            font-size: 32px;
        }

        @include mobile {
            font-size: 20px;
        }
    }

    &__count-text {
        max-width: 122px;
        line-height: 1.2;
        text-align: center;
    }

    &::after {
        content: "";
        position: absolute;
        width: 396px;
        height: 682px;
        top: -338px;
        right: 0;
        background-image: url("/img/dog.png");
        // Going from avif to png
        background-image: image-set(
            url("/img/dog.avif") type("image/avif") 1x,
            url("/img/dog@2x.avif") type("image/avif") 2x,
            url("/img/dog.webp") type("image/webp") 1x,
            url("/img/dog@2x.webp") type("image/webp") 2x,
            url("/img/dog.png") type("image/png") 1x,
            url("/img/dog@2x.png") type("image/png") 2x
        );
        background-size: contain;
        z-index: -1;

        @include bigscreen {
            right: calc(50% - 840px);
        }

        @include laptop {
            width: 272px;
            height: 469px;
            top: -242px;
            right: 8px;
        }

        @include tablet {
            width: 202px;
            height: 348;
            top: -176px;
            right: -25px;
        }

        @include mobile {
            width: 100px;
            height: 169px;
            top: -82px;
            right: 0;
        }
    }
}