@use "../variables" as *;
@use "../media" as *;

.modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(black, .7);
    display: none;
    z-index: 999;
    overflow-y: auto;
    padding: 20px 10px;

    &__close-button {
        position: fixed;
        color: #fff;
        top: 12px;
        right: 12px;
        font-size: 36px;
    }
}

.modal {
    margin: auto;
    background-color: $white;
    border-radius: 24px;
    width: 100%;
    max-width: 676px;
    min-height: 458px;
    box-shadow: 0 0 32px 0 rgba(black, .15);
    display: flex;
    overflow: hidden;

    &::before {
        content: "";
        display: block;
        width: 48%;
        background-image: url("/img/cart-dog.jpg");
        background-size: cover;
        background-position: center;
    }

    &__content {
        width: 52%;
        padding: 24px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 16px;
    }

    &__cart-items {
        flex-grow: 1;
        margin-bottom: 24px;
    }

    &__cart-item {
        display: grid;
        grid-template-areas:
            "image title title"
            "image count price";

        grid-template-columns: 54px 1fr max-content;
        gap: 8px 12px;

        padding: 12px 0;
        border-bottom: 1px solid rgba(#2e3514, .04);

        &:first-child {
            padding-top: 0;
        }

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }

    &__cart-item-image {
        grid-area: image;
        width: 54px;
        height: 54px;
        object-fit: cover;
        object-position:  center;
        align-self: center;
    }

    &__cart-item-title {
        grid-area: title;
        font-weight: 400;
        font-size: 16px;
    }

    &__cart-item-count {
        grid-area: count;
        max-width: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 16px;
    }

    &__cart-item-price {
        grid-area: price;
        font-size: 16px;
    }

    &__btn {
        border: 1px solid $green;
        border-radius: 6px;
        width: 24px;
        height: 24px;
        color: inherit;
    }

    &__cart-fieldset {
        margin: 0 0 16px 0;
        padding: 0;
        border: 0;
    }

    &__cart-legend {
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 4px;
    }

    &__radio {
        font-size: 16px;
        display: block;
    }

    &__cart-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__cart-button {
        border-radius: 40px;
        padding: 12px 24px;
        background-color: $purple;
        font-weight: 700;
        font-size: 16px;
        color: $light;
    }

    &__cart-price {
        font-weight: 700;
        font-size: 16px;
        color: $purple;
    }
}