@use "../variables" as *;
@use "../media" as *;

.order-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(black, .4);
    z-index: 100;

    &__text {
        margin-bottom: 20px;
    }

    &__close-button {
        background-color: $carrot;
        color: $light;
        padding: 10px 20px;
        border-radius: 6px;
    }
}