@use "../variables" as *;
@use "../media" as *;

.radio {
    position: relative;
    display: block;
    padding-right: 16px;
    cursor: pointer;

    &__input {
        position: absolute;
        appearance: none;
        top: 50%;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        right: 0;
        border-radius: 50%;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            display: block;
            border-radius: 50%;
            background-color: transparent;
            border: 1px solid $green;
        }

        &:checked::before {
            background-color: $green;
        }

        &:focus-visible {
            outline: 1px solid $green;
        }

        &:hover {
            background-color: #ccc;
        }
    }
}