@use "../variables" as *;
@use "../media" as *;

.store {
    padding-top: 120px;
    padding-bottom: 120px;

    &__header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 40px;
    }

    &__categories {
        display: flex;
        gap: 28px;
    }

    &__category-button {
        color: $carrot;
        padding-bottom: 10px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 1px;
            background-color: $green;

            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }

        &_active {
            color: $green;

            &::after {
                transform: scaleX(1);
            }
        }
    }

    &__cart-button {
        position: relative;
        display: block;
        width: 28px;
        height: 28px;
    }

    &__cart-icon {
        position: absolute;
        z-index: 1;
        // Occupy all available space
        inset: 0;
    }

    &__cart-count {
        position: relative;
        z-index: 2;

        font-weight: 700;
        font-size: 12px;
        line-height: 1;
        color: $light;
    }

    &__title {
        font-weight: 700;
        font-size: 52px;
        color: $green;

        margin-bottom: 32px;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, 420px);
        justify-content: center;
        gap: 20px;

        @include mobile {
            grid-template-columns: 1fr;
        }
    }
}