@use "../variables" as *;
@use "../media" as *;

.subscribe {
    padding: 120px 0;

    @include laptop {
        padding: 100px 0;
    }

    @include mobile {
        padding: 80px 0;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        max-width: 1000px;
        margin-bottom: 50px;
        font-weight: 700;
        font-size: 52px;
        line-height: 1.3;
        text-align: center;
        color: $green;

        @include laptop {
            font-size: 44px;
            margin-bottom: 32px;
        }

        @include mobile {
            font-size: 30px;
        }
    }

    &__field {
        position: relative;
        margin: 0;
        padding: 0;
        max-width: 732px;
        width: 100%;
        border: none;
    }

    &__input {
        border: 2px solid $purple;
        border-radius: 40px;
        padding: 14px 30px;
        width: 100%;
        background-color: transparent;

        font-weight: 400;
        font-size: inherit;
        color: $green;

        &::placeholder {
            opacity: 0.4;
            color: $green;
        }
    }

    &__button {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border: 1px solid transparent;
        border-radius: 40px;
        padding: 16px 31px;
        background-color: $purple;

        line-height: 1.4;
        color: $light;
        min-width: 209px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;

        @include mobile {
            min-width: 54px;
            padding: 0;
        }

        &::after {
            content: "";
            display: block;
            width: 16px;
            height: 16px;
            background-image: url("/img/arrow-up.svg");
        }
    }
    
    &__button-text {
        @include mobile {
            position: fixed;
            transform: scale(0);
        }
    }
}