@use "fonts" as *;
@use "variables" as *;
@use "media" as *;

@use "components/header";
@use "components/hero";
@use "components/about";
@use "components/advantages";
@use "components/subscribe";
@use "components/footer";

@use "components/store";
@use "components/product";

@use "components/modal";
@use "components/order-message";
@use "components/radio";

@import "normalize.css";
@import url("_default");

body{
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;

    color: $green;
    background-color: $light;
}

.container {
    max-width: 1404px;
    padding: 0 52px;
    margin: 0 auto;

    @include bigscreen {
        max-width: 1600px;
        padding: 0 60px;
    }

    @include tablet {
        padding: 0 46px;
    }

    @include mobile {
        padding: 0 14px;
    }
}